.main-panel
  .row
    .col-md-12.col-xs-12.col-xs-12
    .col-md-4.col-sm-4.col-xs-12.form-group.pull-right.top_search
      
.x_panel.scroll-none
  .x_content
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "rentalapplication-form form-width" }) do |f|
      = devise_error_messages!
      .row.form-holder
        .field.col-md-12.col-xs-12.col-xs-12.form-group
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, class: "form-control"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .field.col-md-12.col-xs-12.col-xs-12.form-group
          = f.label :password
          %i (leave blank if you don't want to change it)
          %br/
          = f.password_field :password, autocomplete: "off", class: "form-control"
          - if @minimum_password_length
            %br/
            %em
              = @minimum_password_length
              characters minimum
        .field.col-md-12.col-xs-12.col-xs-12.form-group
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
        .field.col-md-12.col-xs-12.col-xs-12.form-group
          = f.label :current_password
          %i (we need your current password to confirm your changes)
          %br/
          = f.password_field :current_password, autocomplete: "off", class: "form-control"
        
        .col-md-12.col-xs-12.col-xs-12.form-group.text-center  
          %img{src: current_user.image.try(:file).try(:small).try(:url) }
        
        .field.col-md-12.col-xs-12.col-xs-12.form-group
          = f.fields_for "image_attributes"  do |ff|
            .btn.btn-sm.btn-warning.btn-width
              = ff.file_field :file
        .actions.form-group
          = f.submit "Update", class: "btn-save"
