.main-panel
  .row
    .col-md-8.col-xs-8.col-xs-12
    
.x_panel.scroll-none
  .x_content
    .tabsarea{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
      %ul#myTab.nav.nav-tabs.bar_tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a#allprojects{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content0", :role => "tab"}
            = main_tab
        %li{:role => "presentation"}
          %a#home-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content1", :role => "tab"}
            %span.glyphicon.glyphicon-plus
            = "#{new_object.class.table_name.singularize.titleize}"
    #myTabContent.tab-content
      #tab_content0.tab-pane.fade.active.in{"aria-labelledby" => "allprojects", :role => "tabpanel"}
        %table.table.table-bordered
          %thead
            %tr
              %th
              %th Categoires
              %th Business Names
              %th Project Name
              %th Tasks
              %th Sub Tasks
              %th Edit
              %th Delete
          
          %tbody
            - resource_cats.each do |cat| 
              %tr
                %th= cat.resources.present? ? '-' : '+' 
                %td= cat.name.try(:titleize)
                %td
                %td
                %td
                %td
                %td
                %td
              
              - cat.resources.each do |r|
                - if r.expenses.blank?
                  %tr
                    %th
                    %td
                    %td= r.business_name.try(:titleize)
                    %td
                    %td
                    %td
                    %td.text-center
                      %a{:href => "#"}
                        %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
                    %td.text-center
                      %a{:href => "#"}
                        %i.fa.fa-trash-o{"aria-hidden" => "true"}
                
                -else
                  - r.expenses.each do |r_exp|
                    %tr
                      %th
                      %td
                      %td= r.business_name.try(:titleize)
                      %td= r_exp.project.try(:project_name).try(:titleize)
                      %td= r_exp.project_task.try(:name).try(:titleize)
                      %td= r_exp.project_sub_task.try(:name).try(:titleize)
                      %td.text-center
                        %a{:href => "#"}
                          %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
                      %td.text-center
                        %a{:href => "#"}
                          %i.fa.fa-trash-o{"aria-hidden" => "true"}

      #tab_content1.tab-pane.fade.in{"aria-labelledby" => "home-tab", :role => "tabpanel"}
        = render "shared/resource_form", form_object: new_object 
