.main-panel
  .row
    .col-md-8.col-xs-8.col-xs-12
    
.x_panel
  .x_content
    .tabsarea{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
      %ul#myTab.nav.nav-tabs.bar_tabs{:role => "tablist"}
        - @sub_cats.each_with_index do |sub_cat, index|
          %li{:role => "presentation", :class => @active_tabe[index]}
            %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content"+index.to_s, :role => "tab"}
              = sub_cat.name.capitalize+" Projects"
        %li{:role => "presentation"}
          %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content#{@sub_cats.length}", :role => "tab"}
            %span.glyphicon.glyphicon-plus

    #myTabContent.tab-content
      - @sub_cats.each_with_index do |sub_cat, index|
        .tab-pane.fade.in{:role => "tabpanel", :id =>"tab_content"+index.to_s, :class => @active_tabe[index]}
          .row
            - sub_cat.projects.each do |project|
              .animated.flipInY.col-lg-3.col-md-3.col-sm-6.col-xs-12
                %a.tile-stats.project-holder{:href => project_path(project.id)}
                  .contact-widget
                    %span.col-xs-6
                      %i.fa.fa-caret-square-o-right
                      %strong.title= project.project_name.capitalize
                    %span.col-xs-6.text-right
                      %i.fa.fa-cog
                  %span.widget-footer
                    .col-xs-12.text-right
                      %span
                        0
                        %i.fa.fa-map-marker{"aria-hidden" => "true"}
                      %span
                        0
                        %i.fa.fa-user
                      %span
                        0
                        %i.fa.fa-picture-o{"aria-hidden" => "true"}

            .animated.flipInY.col-lg-3.col-md-3.col-sm-6.col-xs-12
              %a.new-project.pointer.project-box{:href => new_project_path}
                + New Project
      .tab-pane.fade.in{:role => "tabpanel", :id =>"tab_content#{@sub_cats.length}"}
        = form_for @category.project_sub_categories.build do |f|
          .row
            .col-md-3.col-sm-3.col-xs-12.padding-right-0
            .col-md-3.col-sm-3.col-xs-12.padding-right-0
              .form-group.label-input
                %label Category Name
                = f.text_field :project_category_id, hidden: true
                = f.text_field :name, class: "form-control", placeholder: "Category Name"

            .col-md-3.col-sm-3.col-xs-12.padding-right-0
              .button-area
                = f.submit "Save", class: "btn-save"
            .col-md-3.col-sm-3.col-xs-12.padding-right-0
          


