.main-panel
  .row
    .col-md-8.col-xs-8.col-xs-12
    
.x_panel.scroll-none
  .x_content
    .tabsarea{"data-example-id" => "togglable-tabs", :role => "tabpanel"}
      %ul#myTab.nav.nav-tabs.bar_tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a#allprojects{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content0", :role => "tab"} Project Information
        %li{:role => "presentation"}
          %a#home-tab{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#tab_content1", :role => "tab"}
            Tasks
    #myTabContent.tab-content
      #tab_content0.tab-pane.fade.active.in{"aria-labelledby" => "allprojects", :role => "tabpanel"}
        .row
          .x_content
            .all-project-block
              %section.panel
                .x_title
                  %h2 Project Description
                  .clearfix
                .panel-body
                  .project_detail
                    %p.title Project Name
                    %p= @project.project_name.try(:capitalize)
                    %p.title Project Number
                    %p= @project.project_number.try(:capitalize)
                    %p.title Project Address
                    %p= @project.project_address.try(:capitalize)
                    %p.title Project Category
                    %p= @project.project_category.try(:name).try(:capitalize)
                    %p.title Project Sub Category
                    %p= @project.project_sub_category.try(:name).try(:capitalize)
                    %p.title Project Description
                    %p= @project.description_of_project.try(:capitalize)
            .all-project-block
              %section.panel
                .x_title
                  %h2 Client Information
                  .clearfix
                .panel-body
                  .project_detail
                    %p.title Client Business Name
                    %p= @project.client.try(:business_name).try(:capitalize)
                    %p.title Client Person Name
                    %p= @project.client.try(:person_name).try(:capitalize)
                    %p.title Email Address
                    %p= @project.client.try(:email).try(:capitalize)
                    %p.title Cell No
                    %p= @project.client.try(:cell).try(:capitalize)
                    %p.title Fax
                    %p= @project.client.try(:fax).try(:capitalize)
            .all-project-block
              %section.panel
                .x_title
                  %h2 Project Manager
                  .clearfix
                .panel-body
                  .project_detail
                    %p.title Project Manager Name
                    %p= @project.staff.try(:business_name).try(:capitalize)
                    %p.title Email Address
                    %p= @project.staff.try(:email).try(:capitalize)
                    %p.title Cell Number
                    %p= @project.staff.try(:cell).try(:capitalize)
                / start project-detail sidebar
            .all-project-block
              %section.panel
                .x_title
                  %h2 Proposal  Contract Documents
                  .clearfix
                .panel-body
                  %p.title Project files
                  %ul.list-unstyled.project_detail
                    - @contracts.each do |i|
                      %li
                        %a{:href => i.file.url}
                          %i.fa.fa-file-pdf-o= " #{File.basename(i.file.url)}"
                        
                  %br/
                  .text-center.mtop20
                    = form_for Image.new do |f|
                      .btn.btn-sm.btn-warning.btn-width
                        = f.file_field :file
                      = f.hidden_field :project_id, value: @project.id 
                      = f.hidden_field :image_type, value: "contract" 
                      = f.submit "Submit", class: "btn btn-sm btn-primary" 
            .all-project-block
              %section.panel
                .x_title
                  %p.title Proposal Drawings
                  .clearfix
                .panel-body
                  %h5 Project files
                  %ul.list-unstyled.project_detail
                    - @drawings.each do |i|
                      %li
                        %a{:href => i.file.url}
                          %i.fa.fa-file-pdf-o= " #{File.basename(i.file.url)}"
                        
                  %br/
                  .text-center.mtop20
                    = form_for Image.new do |f|
                      .btn.btn-sm.btn-warning.btn-width
                        = f.file_field :file
                      = f.hidden_field :project_id, value: @project.id 
                      = f.hidden_field :image_type, value: "drawing" 
                      = f.submit "Submit", class: "btn btn-sm btn-primary" 

      #tab_content1.tab-pane.fade.in{"aria-labelledby" => "home-tab", :role => "tabpanel"}
        = render "task_view"
        